<% include partials/header %>

<div class="ui main text container segment">
    <div class="ui huge header">New Post</div>
    <form class="ui form" action="/blogs" method="POST">
        <div class="field">
            <label>Title</label>
            <input type="text" name="blog[title]">
        </div>
        <div class="field">
            <label>Image</label>
            <input type="text" name="blog[image]">
        </div>
        <div class="field">
            <label>Post Content</label>
            <textarea name="blog[body]"></textarea>
        </div>
        <button class="ui big violet basic button">Create Post</button>
    </form>
</div>
<% include partials/footer %>