<h1>This is the secret page!</h1>

<p>You found me!</p>

<img src="https://scontent-sjc2-1.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/197592_1007017930183_5279_n.jpg?oh=2e24b7a0b113730421ec4fc65ddad724&oe=568A3492">

<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Login!</a></li>
<li><a href="/logout">Logout!</a></li>