<% include partials/header %>
<h1>You fell in love with: <%= thingVar.toUpperCase()  %> </h1>

<% if(thingVar.toLowerCase() === "rusty"){ %>
  <p>GOOD CHOICE! RUSTY IS THE BEST!</p>
<% } else { %>
    <p>Bad choice!  You should have said Rusty!</p>
<% } %>

<p>P.S. this is the love.ejs file!</p>

<% include partials/footer %>
